.container{
    width: 1100px;
    margin: auto;
}
header{
   width: 100%;
   height: 90px;
   background-color: #0096c7;
   background-image:url(../style-css/img/pattern.png) ;
   background-size: contain;
   background-repeat: repeat;
}
img.logo{
    height: 50px;
    margin-left: 200px;
    margin-top: 30px;
}

h1{
    font-size: 40px;
}
.testo-grigio{
    color: gray;
}
.testo-azzurro{
    color: aqua;
}
thead{
    background-color: deepskyblue;
    color: white;
    text-align: left;
}
.sfondo-azzurro{
    background-color: lightblue;
}
h3{
    color: gray;
}
.foto{
    width: 250px;
    height: 250px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.background1{
    background-image: url(../style-css/img/monitor.jpg);
    background-size: cover;
    background-position: center;
}
.background2{
    background-image: url(../style-css/img/graph.jpg);
    background-size: cover;
    background-position: center;
}
p.posizione{
    margin-left: 20px;
}