header{
   width: 100%;
   height: 90px;
   background-color: rgb(66, 197, 248);
   background-image:url(../style-css/img/pattern.png) ;
   background-size: contain;
   background-repeat: repeat;
}
img.logo{
    height: 50px;
    margin-left: 20%;
    margin-top: 30px;
}

h1{
    font-size: 40px;
}
.grigio{
    color: gray;
}
.azzurro{
    color: aqua;
}